data/
.vscode/settings.json
*.pyc
build/
openfold/resources/*params
openfold/resources/stereo_chemical_props.txt
openfold.egg-info/
dist/
tests/test_data
openfold/issues/5t5f.pdb
openfold/issues/test_openfold.py

# MOD-JK ignore local data files
*.pdb
*cache*.json
*.html
*.txt
*.code-workspace
out/
flash-attention/
lib/
data/
build/
flash-attention
out
attn_core_inplace_cuda.cpython-37m-x86_64-linux-gnu.so
